* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
height: 100%;
}

body {
font-family: Helvetica, sans-serif;
font-size: 1.2em;
color: #141414;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight:700;
  color: #fd924b;
}

.container {
height: 100vh;
width: 100%;
}

.list {
/* background-color: #f15b31; */
padding: 20px;
width: 100%;
}

ul {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-gap: 10px;
}

li {
list-style-type: none;
border: 2px solid #141414;
padding: 10px;
margin: 10px;
}

li:hover {
background: rgb(233, 156, 94);
}

.hide {
/* background-color: pink; */
display: none;
}

.show {
/* background-color: orange; */
display: grid;
}

.item--1 {
/* place code you want to apply to each individual item here */
grid-column-start: 1;
grid-column-end: 2;

grid-row-start: 1;
grid-row-end: 2;
}

.item--2 {
/* place code you want to apply to each individual item here */
grid-column-start: 2;
grid-column-end: 3;

grid-row-start: 1;
grid-row-end: 2;
}

.item--3 {
/* place code you want to apply to each individual item here */
grid-column-start: 3;
grid-column-end: 4;

grid-row-start: 1;
grid-row-end: 2;
}

.item--4 {
/* place code you want to apply to each individual item here */
grid-column-start: 4;
grid-column-end: 5;

grid-row-start: 1;
grid-row-end: 2;
}

.item--5 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 5;
  grid-column-end: 6;

  grid-row-start: 1;
  grid-row-end: 2;
}

.item--6 {
/* place code you want to apply to each individual item here */
grid-column-start: 6;
grid-column-end: 7;

grid-row-start: 1;
grid-row-end: 2;
}

.item--7 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 2;
  grid-row-end: 3;
}

.item--8 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 3;
}

.item--9 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 2;
  grid-row-end: 3;
}

.item--10 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 2;
  grid-row-end: 3;
}

.item--11 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 5;
  grid-column-end: 6;

  grid-row-start: 2;
  grid-row-end: 3;
}

.item--12 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 6;
  grid-column-end: 7;

  grid-row-start: 2;
  grid-row-end: 3;
}

.item--13 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 3;
  grid-row-end: 4;
}

.item--14 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 3;
  grid-row-end: 4;
}

.item--15 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 3;
  grid-row-end: 4;
}

.item--16 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 3;
  grid-row-end: 4;
}

.item--17 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 5;
  grid-column-end: 6;

  grid-row-start: 3;
  grid-row-end: 4;
}

.item--18 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 6;
  grid-column-end: 7;

  grid-row-start: 3;
  grid-row-end: 4;
}

.item--19 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 4;
  grid-row-end: 5;
}

.item--20 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 4;
  grid-row-end: 5;
}

.item--21 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 4;
  grid-row-end: 5;
}

.item--22 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 4;
  grid-row-end: 5;
}

.item--23 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 5;
  grid-column-end: 6;

  grid-row-start: 4;
  grid-row-end: 5;
}

.item--24 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 6;
  grid-column-end: 7;

  grid-row-start: 4;
  grid-row-end: 5;
}

.item--25 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 1;
  grid-column-end: 2;

  grid-row-start: 5;
  grid-row-end: 6;
}

.item--26 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 2;
  grid-column-end: 3;

  grid-row-start: 5;
  grid-row-end: 6;
}

.item--27 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 3;
  grid-column-end: 4;

  grid-row-start: 5;
  grid-row-end: 6;
}

.item--28 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 4;
  grid-column-end: 5;

  grid-row-start: 5;
  grid-row-end: 6;
}

.item--29 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 5;
  grid-column-end: 6;

  grid-row-start: 5;
  grid-row-end: 6;
}

.item--30 {
  /* place code you want to apply to each individual item here */
  grid-column-start: 6;
  grid-column-end: 7;

  grid-row-start: 5;
  grid-row-end: 6;
}

img {
width: 100%;
height: 300px;
object-fit: cover;
}